.button {
    $this: &;
  
    display: inline-block;
  
    transition: opacity $transition-base, border-color $transition-base,
      background-color $transition-base, color $transition-base;
  
    border: 2px solid transparent;
    border-radius: $button-border-radius;
    padding: 17px 20px 16px;
  
    cursor: pointer;
  
    font-size: font-size(16px);
    font-weight: $font-weight-base-bold;
    text-align: center;
  
    @include media-query(sm) {
      padding: 17px 30px 16px;
    }
  
    &:active,
    &:focus {
      outline: 0;
    }
  
    &__label {
      display: inline-block;
      vertical-align: middle;
    }
  
    &__icon {
      display: inline-block;
      margin-right: 8px;
      max-width: 20px;
      vertical-align: middle;
    }
  
    &__spinner {
      display: none;
      position: relative;
      top: 0;
  
      margin-left: 11px;
  
      vertical-align: middle;
    }
  
    &.loading {
      #{$this}__spinner {
        display: inline-block;
      }
    }
  
    // Colors
    &--primary {
      background-color: get-color(button-primary-background);
      color: get-color(button-primary-text);
  
      &:hover {
        opacity: 0.84;
        color: get-color(button-primary-text);
      }
    }
  
    &:disabled {
      opacity: 1 !important;
      background-color: get-color(button-disabled-background) !important;
      cursor: not-allowed;
      color: get-color(button-disabled-text) !important;
    }
  
    &--transparent {
      background: transparent;
    }
  
    // Sizes
    &--xsmall {
      padding: 8px 16px;
      font-size: font-size-heading(14px);
  
      #{$this}__icon {
        margin-right: 0.2em;
      }
    }
  
    &--small {
      padding: 14px 24px 13px;
      font-size: font-size-heading(14px);
  
      #{$this}__icon {
        margin-right: 0.3em;
      }
    }
  
    &--medium {
      padding: 15px 22px;
    }
  
    &--large {
      padding: 21px 32px 21px;
  
      @include media-query(sm) {
        padding: 21px 45px 21px;
      }
    }
  
    &--wide {
      padding-right: 70px;
      padding-left: 70px;
    }
  
    &--input {
      padding: 16px 24px 14px;
      font-size: font-size-heading(14px);
      line-height: 1;
    }
  
    &--outline {
      border: 2px solid rgba(get-color(button-outline), 0.16);
      color: get-color(button-outline);
  
      &:hover {
        border-color: rgba(get-color(button-outline), 0.4);
        color: get-color(button-outline);
      }
    }
  
    &--expand {
      display: block;
      width: 100%;
    }
  
    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }