.header {
    $this: &;
  
    display: flex;
    position: relative;
    z-index: 1;
  
    align-items: center;
  
    height: $header-height;
  
    background-color: get-color(header-background);
  
    font-size: font-size(14px);
  
    @include media-query(sm) {
      height: $header-height-sm;
    }
  
    &__sections {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  
    &__section {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
  
      max-width: 100%;
  
      &--hamburger {
        flex-basis: 50px;
        max-width: 50px;
      }
  
      &--middle {
        justify-content: center;
  
        @include media-query(sm) {
          flex-basis: 20%;
          max-width: 20%;
        }
      }
  
      &--left {
        @include media-query(sm) {
          flex-basis: 40%;
          max-width: 40%;
        }
      }
  
      &--right {
        justify-content: flex-end;
        flex-basis: 50px;
  
        max-width: 50px;
  
        @include media-query(sm) {
          flex-basis: 40%;
          max-width: 40%;
        }
      }
    }
  
    &__social {
      @include media-query(sm) {
        margin-left: -16px;
      }
  
      svg {
        width: 18px;
        height: 18px;
      }
    }
  
    &__logo {
      @include font-heading();
  
      width: 100%;
  
      text-align: center;
      font-size: font-size-heading(24px);
    }
  
    &__logo-link {
      display: block;
      color: get-color(header-link);
    }
  
    &__logo-image {
      display: block;
  
      object-fit: contain;
      object-position: center center;
  
      margin: 0 auto;
      padding-top: 8px;
      padding-bottom: 8px;
  
      width: 100%;
      max-width: $logo-max-width;
      max-height: $header-height;
  
      @include media-query(sm) {
        max-height: $header-height-sm;
      }
    }
  
    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  
      &--socials {
        #{$this}__list-item {
          margin-right: 8px;
          margin-left: 0;
        }
      }
    }
  
    &__list-item {
      flex: 0 0 auto;
  
      & > * + * {
        margin-left: 8px;
      }
    }
  
    &__link {
      display: block;
      padding: 11px 19px;
      color: get-color(header-link);
  
      &:hover {
        color: get-color(header-link-hover);
      }
    }
  
    &__icon {
      display: block;
      padding: 11px 16px;
      color: get-color(header-link);
  
      &:hover {
        color: get-color(header-link-hover);
      }
  
      &--hamburger {
        margin-left: -16px;
  
        @include media-query(sm) {
          margin-left: 0;
        }
      }
  
      &--cart {
        margin-right: -16px;
  
        @include media-query(sm) {
          margin-right: 0;
        }
      }
    }
  
    &__cta {
      margin-left: 11px;
    }
  }