.product-option {
    &__name {
      margin-bottom: 12px;
      font-size: font-size-heading(14px);
    }
  
    &__selected-value-label {
      color: get-color(heading);
      font-weight: $font-weight-base-bold;
    }
  
    &__values {
      display: flex;
      flex-wrap: wrap;
  
      margin: -4px;
    }
  
    &__value {
      padding: 4px;
  
      &--size {
        flex: 0 0 20%;
      }
    }
  
    &__error {
      display: none;
  
      margin-top: 12px;
  
      color: get-color(error);
      font-size: $font-size-small;
  
      &.visible {
        display: block;
      }
    }
  }